In [1]:
import pandas as pd
import sklearn.model_selection

In [2]:
df=pd.read_csv('datasets_33180_43520_heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
(df['age']-df['age'].mean())/(df['age'].std())

0      0.950624
1     -1.912150
2     -1.471723
3      0.179877
4      0.289984
         ...
298    0.289984
299   -1.031296
300    1.501157
301    0.289984
302    0.289984
Name: age, Length: 303, dtype: float64

In [8]:
(df['age']-df['age'].min())/(df['age'].max()-df['age'].min())

0      0.708333
1      0.166667
2      0.250000
3      0.562500
4      0.583333
         ...
298    0.583333
299    0.333333
300    0.812500
301    0.583333
302    0.583333
Name: age, Length: 303, dtype: float64

In [14]:
thal = pd.get_dummies(df['thal'])

In [20]:
thal.columns = ['thal1','thal2','thal3','thal4']

In [22]:
#get dummies
thal=pd.get_dummies(df['thal'])
thal.columns=['thal1','thal2','thal3','thal4']
thal
cp=pd.get_dummies(df['cp'])
cp.columns=['cp1','cp2','cp3','cp4']
thal
slope=pd.get_dummies(df['slope'])
slope.columns=['slope1','slope2','slope3']
slope
rest=pd.get_dummies(df['restecg'])
rest.columns=['rest1','rest2','rest3']
rest
#delete original
del df['slope']
del df['restecg']
del df['cp']
del df['thal']

In [29]:
df=pd.concat([df,thal, cp,slope,rest],axis=1)

In [32]:
train,test=sklearn.model_selection.train_test_split(df, test_size=0.2, random_state=222)
train, val =sklearn.model_selection.train_test_split(train, test_size=0.2, random_state=222)
trainy=train['target']
del train['target']
valy=val['target']
del val['target']
testy=test['target']
del test['target']
from sklearn import svm
model1=sklearn.svm.SVC()

In [48]:
model_default=sklearn.svm.SVC()
model_default.fit(train,trainy)
print(model_default.score(val,valy))

0.7346938775510204

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [51]:
model1=sklearn.svm.SVC(C=1,kernel='linear')
model1.fit(train,trainy)
print(model1.score(val,valy))

0.8163265306122449

In [45]:
model1=sklearn.svm.SVC(C=1,kernel='poly',degree=2)
model1.fit(train,trainy)
print(model1.score(val,valy))

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.6938775510204082

In [52]:
model1.score(test,testy)

0.7540983606557377

In [54]:
model_default.score(test,testy)

0.5409836065573771